*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Ubuntu', sans-serif;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.container{
    width: 1170px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}

header .top{
    background: #0f2f44;
    padding: 19px 0;
}
header .container p{
    font-size: 16px;
    color: #fff;
}
header .top .left{
    width: 50%;
}
header .top .right{
    width: 50%;
    text-align: right;
}

nav .container .logo{
    width: 15%;
}
nav .container .menu{
    width: 85%;
}
header nav .row{
    align-items: center;
}
nav .container .menu ul{
    justify-content: flex-end;
}
nav .container .menu ul li a{
    font-size: 16px;
    color: #222;
    font-weight: 500;
    text-transform: capitalize;
    padding: 42px 20px;
    display: inline-block;
}
header nav .menu ul li ul{
    position: absolute;
    display: none;
}
header nav .menu ul li:hover ul{
    display: block;
}
nav .container .menu ul li:hover > a{
    background: #fff9e6;
    color: #ffc712;
}
nav .container .menu ul li > i{
    width: 30px;
    height: 30px;
    border: 1px solid #f1e9d0;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    margin: 0 10px;
    cursor: pointer;
}